# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# JVM agent descriptors
.attach*

# Stuff that I generate when I have lost all hope in the world
/*.log
temp/

# Version backups after running ./mvnw versions:set
pom.xml.versionsBackup
