# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# JVM agent descriptors
.attach*

# Version backups after running ./mvnw versions:set
pom.xml.versionsBackup

# Other junk
.DS_Store
*.bak
*.db
*.log
*.save
*.tmp
temp/
